body {
    background-color: lightskyblue;
    text-align: center;
}

header {
    background-image: url(images/palau-rock-islands-aerial.jpg);
    background-size: cover;
    background-color: lightblue;
    background-blend-mode: multiply;
    width: 100%;
    height: 200px;
    margin: 0 auto;

}

#photo_id {
    padding: 10px;
    margin: 0 auto;
}

#photo_id img {
    
    width: 150px;
    border-radius: 50%;
    border: 2px solid red;
    box-shadow: 5px 5px 10px 2px black;
}

#name img {
    margin-top: -40px;
    width: 300px;
}

main h1:hover {
    text-decoration: overline;
    color: red;
    padding: 20px;
}