@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Domine&family=Montserrat&display=swap');
:root {
    /* change the values below to your colors from your palette */
  --primary-color: black;
  --secondary-color: #fefdfe ;
  --accent1-color: #1773ff;
  --accent2-color: #bd82e3;

  /* change the values below to your chosen font(s) */
  --heading-font: Domine, Georgia, serif;
  --paragraph-font: Montserrat, Helvetica, sans-serif;
  --heading-font2: Alex+Brush;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: black;  /* headlines on a white background */ 
  --headline-color-on-color: #fefdfe; /* headlines on a colored background */ 
  --paragraph-color-on-white: black; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #fefdfe; /* paragraph text on a colored background */ 
  --paragraph-background-color: black;
  --nav-link-color: #fefdfe;
  --nav-hover-link-color1: #1773ff;
  --nav-hover-link-color2: #bd82e3;
  }

#content {
    margin: 0 auto;
}

header {
    background-color: black;
    text-align: right;
    width: 100%;

}

nav a{
    font-family: var(--heading-font);
    color: white;
    text-decoration: none;
    width: 100px;
    padding: 50px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    
}

nav a:hover {
    font-weight: bolder;
}

#hero_box img {
    display: block;
    width: 100%;
}

#logo_link img {
    display: block;
    width: 200px;
    padding-left: 50px;
}