body {
    background-color: peachpuff;
    text-align: center;
}

#me {
    background-color: lightskyblue;
    width: 100%;
    margin: -8px -8px;
    padding: 10px;
}

#myself{
    width: 10%;
}

#ece {
    text-align: right;
    margin-top: -20px;
    background-color: lightcoral;
    width: 100%;
}

#ece div {
    padding-right: 10px;
}

#elementary {
    margin-top: -20px;
    background-color: orange;
    width: 100%;
    text-align: right;
}